input[type="button"] , select{
    width:50px;
    background-color:gold;
    height:40px;
    margin:2px;
    
}
input[name="result"] , select{
    margin:5px;
    padding : 10px;
    width : 220px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Better text styling */
	font: bold 14px Arial, sans-serif;
}

html {
	height: 100%;
	background-color: lightskyblue;
	background-size: cover;
}

h2{
    text-align: center;
    top-padding : 20px;
    margin-top:30px;
}



div{
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 10px solid grey;
    margin: 25px;
    margin-left: 525px;    
}